:root {
    /*old variables */

    /* Neutral */
    --neutral100: #ffffff;
    --neutral200: #f2f2f2;
    --neutral300: #e4e4e4;
    --neutral400: #c6c6c8;
    --neutral500: #a9a9ac;
    --neutral600: #8c8c90;
    --neutral700: #707074;
    --neutral800: #545458;
    --neutral900: #39393c;
    --neutral1000: #1e1e20;

    /* Primary */
    --primary100: #f2f2ff;
    --primary200: #dedefb;
    --primary300: #cccbf8;
    --primary400: #a5a4e8;
    --primary500: #8281d7;
    --primary600: #6361c7;
    --primary700: #7e22cc; /* => primary700 and primary800 custom for this project */
    --primary800: #6219a2;
    --primary900: #1b1a5f;
    --primary1000: #0c0b33;

    /* Alert */
    --alert100: #ffdedf;
    --alert200: #ee888c;
    --alert300: #dc3d43;
    --alert400: #8d1a1e;
    --alert500: #3d0608;

    /* Tertiary */
    --tertiary100: #fff2f6;
    --tertiary200: #ffd4e1;
    --tertiary300: #ffb6cd;
    --tertiary400: #f97e79;
    --tertiary500: #e85a84;
    --tertiary700: #b22851;
    --tertiary800: #891e3e;
    --tertiary900: #5f152b;
    --tertiary1000: #360c18;

    /* Skeletons */
    --skeletonLightBG: #e0e0e0;

    /* Gray */
    --gray600: #757575;
    --gray700: #707074;
    --gray300: #e4e4e4;

    /* Box Shadows */
    --boxShadowLigh: rgba(12, 11, 51, 0.12);

    /* --------------------------------------------------
    New color alias variables
  -------------------------------------------------- */
    --fundation-white: #ffffff;
    --fundation-black: #000000;
    --neutral-100: #f3f4f5;
    --neutral-200: #e7e8ea;
    --neutral-300: #d0d1d5;
    --neutral-400: #b8bac0;
    --neutral-500: #898c96;
    --neutral-600: #727682;
    --neutral-700: #5b5f6d;
    --neutral-800: #434858;
    --neutral-900: #2c3143;
    --neutral-1000: #141a2e;
    --primary-100: #ebf0fe;
    --primary-200: #c8d6fc;
    --primary-300: #a5bbfb;
    --primary-400: #82a1f9;
    --primary-500: #5e86f8;
    --primary-600: #3b6cf6;
    --primary-700: #2f56c5;
    --primary-800: #234194;
    --primary-900: #182b62;
    --primary-1000: #0c1631;
    --secondary-100: #f1effe;
    --secondary-200: #d7d3fb;
    --secondary-300: #bdb7f9;
    --secondary-400: #a39bf7;
    --secondary-500: #897ff4;
    --secondary-600: #6f63f2;
    --secondary-700: #594fc2;
    --secondary-800: #433b91;
    --secondary-900: #2c2861;
    --secondary-1000: #161430;
    --success-100: #d5e5d6;
    --success-200: #abcbad;
    --success-300: #2e7d32;
    --success-400: #123214;
    --success-500: #09190a;
    --alert-100: #f8d8d9;
    --alert-200: #f1b1b4;
    --alert-300: #dc3d43;
    --alert-400: #58181b;
    --alert-500: #2c0c0d;
    --warning-100: #fdf5cc;
    --warning-200: #fceb99;
    --warning-300: #f7ce00;
    --warning-400: #977e00;
    --warning-500: #312900;
    --info-100: #e5f1fb;
    --info-200: #99c8f1;
    --info-300: #0076dc;
    --info-400: #002f58;
    --info-500: #00182c;
    --border-width-25: 1;
    --border-width-50: 2;
    --border-width-100: 4;
    --border-width-200: 8;
    --border-radius-50: 2;
    --border-radius-100: 4;
    --border-radius-200: 8;
    --border-radius-300: 12;
    --border-radius-500: 20;
    --border-radius-900: 40;
    --border-radius-round: 512;
    --fonts-primary: Inter;
    --fonts-secondary: Avenir Next;

    /* --------------------------------------------------
    New color Mapping variables
  -------------------------------------------------- */

    --general-page: var(--fundation-black);
    --general-page-secondary: var(--neutral-1000);
    --general-default-card: var(--neutral-1000);
    --general-default-secondary-card: var(--neutral-900);
    --general-default-tertiary-card: var(--neutral-800);
    --text-default-heading: var(--fundation-white);
    --text-default-body: var(--fundation-white);
    --text-default-caption: var(--neutral-300);
    --text-default-placeholder: var(--neutral-300);
    --text-on-color-heading: var(--fundation-black);
    --text-on-color-body: var(--neutral-700);
    --text-on-color-caption: var(--neutral-700);
    --text-on-color-placeholder: var(--neutral-700);
    --text-primary-default: var(--primary-600);
    --text-primary-default-hover: var(--primary-800);
    --text-primary-on-color: var(--fundation-white);
    --text-primary-on-color-hover: var(--primary-400);
    --text-secondary-default: var(--secondary-600);
    --text-secondary-default-hover: var(--secondary-400);
    --text-secondary-on-color: var(--fundation-white);
    --text-secondary-on-color-hover: var(--fundation-white);
    --text-alert-default: var(--alert-400);
    --text-alert-default-hover: var(--alert-300);
    --text-alert-on-color: var(--fundation-white);
    --text-alert-on-color-hover: var(--fundation-white);
    --text-warning-default: var(--warning-400);
    --text-warning-default-hover: var(--warning-300);
    --text-warning-on-color: var(--fundation-white);
    --text-warning-on-color-hover: var(--fundation-white);
    --text-success-default: var(--success-300);
    --text-success-default-hover: var(--success-400);
    --text-success-on-color: var(--fundation-white);
    --text-success-on-color-hover: var(--fundation-white);
    --text-info-default: var(--info-400);
    --text-info-default-hover: var(--info-300);
    --text-info-on-color: var(--fundation-white);
    --text-info-on-color-hover: var(--fundation-white);
    --text-neutral-default: var(--fundation-white);
    --text-neutral-default-hover: var(--neutral-100);
    --text-neutral-on-color: var(--neutral-1000);
    --text-neutral-on-color-hover: var(--neutral-900);
    --text-content-default: var(--neutral-300);
    --text-content-default-hover: var(--neutral-300);
    --text-content-on-color: var(--neutral-800);
    --text-content-on-color-hover: var(--neutral-800);
    --text-disable-default: var(--neutral-300);
    --text-disable-on-color: var(--neutral-800);
    --icons-primary-default: var(--primary-600);
    --icons-primary-default-hover: var(--primary-800);
    --icons-primary-on-color: var(--fundation-white);
    --icons-primary-on-color-hover: var(--fundation-white);
    --icons-secondary-default: var(--secondary-600);
    --icons-secondary-default-hover: var(--secondary-400);
    --icons-secondary-on-color: var(--fundation-white);
    --icons-secondary-on-color-hover: var(--fundation-white);
    --icons-alert-default: var(--alert-400);
    --icons-alert-default-hover: var(--alert-300);
    --icons-alert-on-color: var(--fundation-white);
    --icons-alert-on-color-hover: var(--fundation-white);
    --icons-warning-default: var(--warning-400);
    --icons-warning-default-hover: var(--warning-300);
    --icons-warning-on-color: var(--fundation-white);
    --icons-warning-on-color-hover: var(--fundation-white);
    --icons-success-default: var(--success-300);
    --icons-success-default-hover: var(--success-400);
    --icons-success-on-color: var(--fundation-white);
    --icons-success-on-color-hover: var(--fundation-white);
    --icons-info-default: var(--info-400);
    --icons-info-default-hover: var(--info-300);
    --icons-info-on-color: var(--fundation-white);
    --icons-info-on-color-hover: var(--fundation-white);
    --icons-neutral-default: var(--fundation-white);
    --icons-neutral-default-hover: var(--neutral-100);
    --icons-neutral-on-color: var(--neutral-1000);
    --icons-neutral-on-color-hover: var(--neutral-900);
    --icons-disabled-default: var(--neutral-300);
    --icons-disabled-on-color: var(--neutral-800);
    --surface-primary-default: var(--primary-600);
    --surface-primary-default-hover: var(--primary-800);
    --surface-primary-default-subtle: var(--primary-1000);
    --surface-primary-default-subtle-hover: var(--primary-300);
    --surface-secondary-default: var(--secondary-600);
    --surface-secondary-default-hover: var(--secondary-800);
    --surface-secondary-default-subtle: var(--secondary-100);
    --surface-secondary-default-subtle-hover: var(--secondary-200);
    --surface-alert-default: var(--alert-300);
    --surface-alert-default-hover: var(--alert-400);
    --surface-alert-default-subtle: var(--alert-400);
    --surface-alert-default-subtle-hover: var(--alert-200);
    --surface-warning-default: var(--warning-300);
    --surface-warning-default-hover: var(--warning-400);
    --surface-warning-default-subtle: var(--warning-100);
    --surface-warning-default-subtle-hover: var(--warning-200);
    --surface-success-default: var(--success-300);
    --surface-success-default-hover: var(--success-400);
    --surface-success-default-subtle: var(--success-400);
    --surface-success-default-subtle-hover: var(--success-200);
    --surface-info-default: var(--info-300);
    --surface-info-default-hover: var(--info-400);
    --surface-info-default-subtle: var(--info-100);
    --surface-info-default-subtle-hover: var(--info-200);
    --surface-neutral-default: var(--fundation-white);
    --surface-neutral-default-hover: var(--neutral-100);
    --surface-neutral-default-subtle: var(--neutral-1000);
    --surface-neutral-default-subtle-hover: var(--neutral-900);
    --surface-disable-disable: var(--neutral-700);
    --borders-general-default: var(--fundation-white);
    --borders-general-on-color: var(--neutral-100);
    --borders-primary-default: var(--primary-600);
    --borders-primary-default-hover: var(--primary-800);
    --borders-primary-default-focus: var(--primary-400);
    --borders-primary-default-subtle: var(--primary-200);
    --borders-primary-default-subtle-hover: var(--primary-100);
    --borders-primary-default-subtle-focus: var(--primary-200);
    --borders-secondary-default: var(--secondary-800);
    --borders-secondary-default-hover: var(--secondary-600);
    --borders-secondary-default-focus: var(--secondary-300);
    --borders-secondary-default-subtle: var(--secondary-200);
    --borders-secondary-default-subtle-hover: var(--secondary-100);
    --borders-secondary-default-subtle-focus: var(--secondary-300);
    --borders-alert-default: var(--alert-400);
    --borders-alert-default-hover: var(--alert-300);
    --borders-alert-default-focus: var(--alert-200);
    --borders-alert-default-subtle: var(--alert-200);
    --borders-alert-default-subtle-hover: var(--alert-100);
    --borders-alert-default-subtle-focus: var(--alert-200);
    --borders-warning-default: var(--warning-400);
    --borders-warning-default-hover: var(--warning-300);
    --borders-warning-default-focus: var(--warning-200);
    --borders-warning-default-subtle: var(--warning-200);
    --borders-warning-default-subtle-hover: var(--warning-100);
    --borders-warning-default-subtle-focus: var(--warning-200);
    --borders-success-default: var(--success-300);
    --borders-success-default-hover: var(--success-400);
    --borders-success-default-focus: var(--success-200);
    --borders-success-default-subtle: var(--success-200);
    --borders-success-default-subtle-hover: var(--success-100);
    --borders-success-default-subtle-focus: var(--success-100);
    --borders-info-default: var(--info-400);
    --borders-info-default-hover: var(--info-300);
    --borders-info-default-focus: var(--info-200);
    --borders-info-default-subtle: var(--info-100);
    --borders-info-default-subtle-hover: var(--info-200);
    --borders-info-default-subtle-focus: var(--info-300);
    --borders-neutral-default: var(--fundation-white);
    --borders-neutral-default-hover: var(--neutral-200);
    --borders-neutral-default-focus: var(--neutral-200);
    --borders-neutral-default-subtle: var(--neutral-700);
    --borders-neutral-default-subtle-hover: var(--neutral-900);
    --borders-neutral-default-subtle-focus: var(--neutral-800);
    --borders-disable-disable: var(--neutral-400);

    /* Font variables */
    --base: 'Poppins', Helvetica;
    --custom: 'Avenir Next', 'Inter', sans-serif;
    --simple: 'Inter', sans-serif;
    --default: 'Poppins', Helvetica;
}
