.screen {
    background-color: #161616;
    height: 100vh;
    width: 100vw;
}

.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.horizontal-center {
    margin: 20px;
    margin-left: 300px;
}

.title {
    color: var(--neutral100);
    font-size: 64px;
    font-family: 'Roboto';
    font-weight: 700;
    line-height: 83px;
    text-align: center;
}

.subtitle {
    color: var(--neutral100);
    font-size: 32px;
    font-family: 'Roboto';
    line-height: 42px;
    text-align: center;
}

.button {
    cursor: pointer;
    top: 498px;
    margin-left: 300px;
    width: 179px;
    height: 52px;
    padding: 0px 8px;
    border: 0;
    box-sizing: border-box;
    border-radius: 24px;
    background-color: var(--primary700);
    color: var(--neutral100);
    font-size: 24px;
    font-family: 'Roboto';
    line-height: 31px;
    outline: none;
}

.description {
    color: var(--neutral100);
    font-size: 16px;
    font-family: 'Source Sans Pro';
    font-weight: 400;
    line-height: 21px;
    text-align: center;
}

.image {
    position: absolute;
    margin-top: 20px;
    width: 129px;
    height: 38px;
    border-radius: 8px;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.headerBar {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 80px;
    background-color: var(--primary700);
}

.icon {
    margin-top: 30px;
    margin-left: 20px;
    color: var(--neutral100);
    fill: var(--neutral100);
    font-size: 18px;
    top: 32px;
    left: 24px;
    width: 18px;
    height: 16px;
}

.headerText {
    position: absolute;
    left: 50px;
    top: 20px;
    color: var(--neutral100);
    font-size: 24px;
    font-family: 'Roboto';
    letter-spacing: -0.6px;
    line-height: 32px;
}

.footer {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100vw;
    height: 68px;
    background-color: #323232;
}

.footerText {
    color: var(--neutral100);
    font-size: 14px;
    font-family: 'Roboto';
    line-height: 20px;
}

.card {
    position: absolute;
    top: 15%;
    left: 40%;
    width: 20%;
    height: 70%;
    background-color: #323232;
    border-radius: 24px;
}

.card .lockImage {
    margin-top: 20px;
    margin-left: 10%;
    width: 80%;
    height: 300px;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.card .title {
    margin-top: 20px;
    color: var(--neutral100);
    font-size: 30px;
    font-family: 'Roboto';
    font-weight: 700;
    line-height: 36px;
    text-align: center;
}

.card .subtitle {
    margin-top: 20px;
    color: var(--neutral100);
    font-size: 20px;
    font-family: 'Roboto';
    line-height: 28px;
    text-align: center;
}

.card .description {
    margin-top: 20px;
    color: var(--neutral100);
    font-size: 16px;
    font-family: 'Roboto';
    line-height: 24px;
    text-align: center;
}

.content .title {
    text-align: left;
    color: var(--neutral100);
    font-size: 40px;
    font-family: 'Source Sans Pro';
    font-weight: 600;
    line-height: 52px;
}

.card .button {
    position: absolute;
    top: auto;
    margin-left: 0px;
    left: 20%;
    width: 60%;
    bottom: 0px;
    margin-bottom: 40px;
}

.content .subtitle {
    margin-top: 100px;
    margin-left: 20px;
    text-align: left;
    color: var(--neutral100);
    font-size: 20px;
    font-family: 'Source Sans Pro';
    line-height: 26px;
}

.content .description {
    position: absolute;
    bottom: 0px;
    width: 100%;
    color: var(--neutral100);

    font-size: 16px;
    font-family: 'Source Sans Pro';
    line-height: 24px;
}

.content .cardContainer {
    position: relative;
    margin-top: 10px;
    margin-left: 30px;
    width: 200px;
    height: 350px;
}

.content .card {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 200px;
    height: 300px;
    background-color: rgba(50, 50, 50, 0.7);
    border-radius: 24px;
}

.content .cardBg {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: 0px;
    margin-top: 10px;
    left: 0px;
    width: 200px;
    height: 300px;
    border-radius: 24px;
}

.content .card .title {
    padding-top: 125px;
    color: var(--neutral100);
    font-size: 20px;
    width: 50%;
    padding-left: 50px;
    font-family: 'Source Sans Pro';
    font-weight: 600;
    line-height: 26px;
    text-align: center;
    text-wrap: wrap;
}

.content .card .banner {
    margin-top: 10px;
    color: #ffcc00;
    font-size: 18px;
    font-family: 'Source Sans Pro';
    font-weight: 500;
    line-height: 23px;
    text-align: center;
}

.content .card .icon {
    position: absolute;
    color: var(--neutral100);
    fill: var(--neutral100);
    left: 50px;
    top: 90px;
    font-size: 60px;
    width: 60px;
    height: 60px;
}

.carrouselContainer {
    display: flex;
    flex-direction: row;
}

.carrousel {
    width: 100vw;
    height: 380px;
    margin-top: 30px;
}

.video {
    position: absolute;
    top: 15%;
    width: 80%;
    max-width: 40%;
    height: 70%;
    background-color: rgba(50, 50, 50, 0.9);
    border-radius: 24px;
    z-index: 10;
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
}
